.container{
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  background-color: #F7F7F7;
  align-items: center;
  /* justify-content: center; */
  height: 57.1rem;
  width: 100%;
  /* overflow: hidden; */
} 
.logo{
  height: 3.2rem;
  width: 2.4rem;
  margin-left: -5rem;
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.1);
  border-radius: 4.6rem;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 100%;
  border-bottom-right-radius: 1.6rem;
  gap: 2.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* padding-bottom: 2rem; */
}
.container h2{
  font-size: 1.8rem;
  font-weight: bold;
  /* margin-bottom: 1rem; */
}
.container h3{
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* margin-bottom: 1rem; */
}
.details{
  padding-top: 1rem;
  /* display: none; */
}
.card{
  background-color: #fff;
  border-radius: 0.6rem;
  margin: 0 2rem 1rem 2rem;
}
.card ul{
  list-style-type: none;
  padding: 0;
}
.card li{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 2.2rem;
  /* border-bottom: 1px solid #f0f0f0; */
}